.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
border-color: #ddd;
}
.panel-body {
padding: 15px;
}
.price {
  font-size: 1.2em;
  color: #BF0000;
}
img.weather-icon {
  border-width: 0;
  vertical-align:bottom;
}
.entry-content h3 {
  line-height: 1.3;
}
.categories {
  margin-top: 12px;
}
hr {
  margin: 1.7em 0;
}

.media * {
    box-sizing: border-box;
}
.media {
    margin-top: 0;
}
.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: middle;
}
.media-left {
padding-right: 10px;
}

.entry-content img {
	padding: 0;
	border: none;
}

.media-left img, .media-right img {
    border: none;
}

.font-maru {
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}

.hatena-asin-detail, .itunes-embed {
  border: none;
}

.media {
  background: #F8F8F8;
  font-size: 80%;
}

.media-left {
  table-layout: fixed;
  width: 64px;
}

.media-left img {
    width: 100%;
}

.media-body {
  padding: 0.25em 0.5em;
}

.text-muted {
    color: #777;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}