.panel {
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 4px;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
border-color: #ddd;
}
.panel-body {
padding: 15px;
}
.price {
  font-size: 1.2em;
  color: #BF0000;
}
img.weather-icon {
  border-width: 0;
  vertical-align:bottom;
}
.entry-content h3 {
  line-height: 1.3;
}
.categories {
  margin-top: 12px;
}
hr {
  margin: 1.7em 0;
}

.media * {
    box-sizing: border-box;
}
.media {
    margin-top: 0;
}
.media-left, .media-right, .media-body {
    display: table-cell;
vertical-align: top;
}
.media-left {
padding-right: 10px;
}

.entry-content img {
	padding: 0;
	border: none;
}

.media-left img, .media-right img {
    border: none;
}

.hatena-asin-detail, .itunes-embed {
  border: none;
}